<!DOCTYPE HTML>
<html>
	<head>
		<title>New User Signup</title>
	</head>

	<body>

		<form action=<%= request.path_info %> method="post">
			<fieldset>
				<legend>Sign up</legend>
				
				<label for="firstname">Firstname: </label></br />
				<input type="text" name="firstname" /><br /><br />

				<label for="lastname">Lastname: </label></br />
				<input type="text" name="lastname" /><br /><br />

				<label for="username">Username: </label></br />
				<input type="text" name="username" /><br /><br />

				<label for="password">Password: </label></br />
				<input type="password" name="password" /><br /><br />


				<input type="submit" name="save_user" value="Submit" />
			</fieldset>
		</form>

	</body>
</html>