body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#tweet-panel {
	margin-left: 200px;
	margin-right: 200px;
}

#sign-in-form, #sign-up-form, #new-tweet-form{
	margin-left: 400px;
	margin-right: 400px;
}

#follower {
	margin: 10px;
	padding: 5px;
}